# 파이썬 함수

In [1]:
def twotimes(x):
    y = 2 * x
    return y

In [2]:
twotimes(2)

4

In [6]:
def even_odd(x):
    if x % 2 == 0:
        return "짝수"
    else:
        return "홀수"

In [7]:
even_odd(3)

'홀수'

In [17]:
def yoon(x):
    if ((x % 4 == 0) and (x % 100 != 0)) or (x % 400 == 0):
        print("윤년")
    else:
        print("평년")

In [19]:
yoon(2024)

윤년

In [28]:
def days1(x):
    if x == 2:
        print(28)
    elif x == 4 or x == 6 or x == 9 or x == 11:
        print(30)
    else:
        print(31)

In [29]:
days1(3)

31

In [33]:
def days2(x, y):
    if y == 2:
        print(28)
    elif y == 4 or y == 6 or y == 9 or y == 11:
        print(30)
    else:
        print(31)

In [34]:
days2(2022, 4)

30

In [37]:
f = lambda x : 2 * x # 람다 함수는 함수 자체를 다른 함수의 인수로 넣을 때, 함수의 출력값을 함수로 받을 떄 유용

In [36]:
f(2)

4

In [38]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

In [39]:
f(10)

y =  100

100

In [41]:
f = lambda x: 100 * x

In [42]:
f(2)

200

In [43]:
def diffsum(x, y, z):
    a = x**2 + y**2 + z**2
    b = x + y + z
    c = a - b
    print(c)

In [45]:
diffsum(1, 2, 3)

8

In [46]:
z = 3

def f2(x):
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [47]:
f2(10)

y = 30
z = 3

30

In [48]:
z = 3

def f4(x):
    global z
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [49]:
f4(10)
z

y = 990
z = 99

99