# 시계열 자료 다루기

In [2]:
import numpy as np
import pandas as pd

date_str = ["2022, 1, 1", "2022, 1, 4", "2022, 1, 5", "2022, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2022-01-01', '2022-01-04', '2022-01-05', '2022-01-06'], dtype='datetime64[ns]', freq=None)

In [7]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index = idx)
pd.DataFrame(s)

                   0
2022-01-01  1.764052
2022-01-04  0.400157
2022-01-05  0.978738
2022-01-06  2.240893

In [8]:
type(idx)

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
pd.date_range("2022-4-1", "2022-4-11")

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start = "2022-4-2", periods = 30) # 날짜

DatetimeIndex(['2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05',
               '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09',
               '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13',
               '2022-04-14', '2022-04-15', '2022-04-16', '2022-04-17',
               '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21',
               '2022-04-22', '2022-04-23', '2022-04-24', '2022-04-25',
               '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29',
               '2022-04-30', '2022-05-01'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range("2018-4-1", "2018-4-30", freq="B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [12]:
pd.date_range("2018-1-1", "2018-12-31", freq="W")

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [13]:
pd.date_range("2022-1-1", "2022-12-31", freq="W-MON")

DatetimeIndex(['2022-01-03', '2022-01-10', '2022-01-17', '2022-01-24',
               '2022-01-31', '2022-02-07', '2022-02-14', '2022-02-21',
               '2022-02-28', '2022-03-07', '2022-03-14', '2022-03-21',
               '2022-03-28', '2022-04-04', '2022-04-11', '2022-04-18',
               '2022-04-25', '2022-05-02', '2022-05-09', '2022-05-16',
               '2022-05-23', '2022-05-30', '2022-06-06', '2022-06-13',
               '2022-06-20', '2022-06-27', '2022-07-04', '2022-07-11',
               '2022-07-18', '2022-07-25', '2022-08-01', '2022-08-08',
               '2022-08-15', '2022-08-22', '2022-08-29', '2022-09-05',
               '2022-09-12', '2022-09-19', '2022-09-26', '2022-10-03',
               '2022-10-10', '2022-10-17', '2022-10-24', '2022-10-31',
               '2022-11-07', '2022-11-14', '2022-11-21', '2022-11-28',
               '2022-12-05', '2022-12-12', '2022-12-19', '2022-12-26'],
              dtype='datetime64[ns]', freq='W-MON')

In [14]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-DEC")

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [16]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2022-1-1", periods=4, freq="M"))
ts

2022-01-31    1.764052
2022-02-28    0.400157
2022-03-31    0.978738
2022-04-30    2.240893
Freq: M, dtype: float64

In [17]:
ts.shift(1)

2022-01-31         NaN
2022-02-28    1.764052
2022-03-31    0.400157
2022-04-30    0.978738
Freq: M, dtype: float64

In [18]:
ts.shift(-1)

2022-01-31    0.400157
2022-02-28    0.978738
2022-03-31    2.240893
2022-04-30         NaN
Freq: M, dtype: float64

In [19]:
ts.shift(1, freq="M")

2022-02-28    1.764052
2022-03-31    0.400157
2022-04-30    0.978738
2022-05-31    2.240893
Freq: M, dtype: float64

In [20]:
ts

2022-01-31    1.764052
2022-02-28    0.400157
2022-03-31    0.978738
2022-04-30    2.240893
Freq: M, dtype: float64

resample 연산을 쓰면 시간 간격을 재조정하는 리샘플링(resampling)이 가능하다. 이 때 시간 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링(up-sampling)이라 하고 시간 구간이 커지면 데이터 양이 감소한다고 해서 다운-샘플링(down-sampling)이라 부른다.

In [21]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2022-1-1", periods=100, freq="D"))
ts.tail(20)

2022-03-22    1.488252
2022-03-23    1.895889
2022-03-24    1.178780
2022-03-25   -0.179925
2022-03-26   -1.070753
2022-03-27    1.054452
2022-03-28   -0.403177
2022-03-29    1.222445
2022-03-30    0.208275
2022-03-31    0.976639
2022-04-01    0.356366
2022-04-02    0.706573
2022-04-03    0.010500
2022-04-04    1.785870
2022-04-05    0.126912
2022-04-06    0.401989
2022-04-07    1.883151
2022-04-08   -1.347759
2022-04-09   -1.270485
2022-04-10    0.969397
Freq: D, dtype: float64

In [22]:
ts.resample('W').mean()    # 다운 샘플링

2022-01-02    0.445140
2022-01-09    0.495067
2022-01-16    0.235301
2022-01-23   -0.130850
2022-01-30    0.068497
2022-02-06    0.071846
2022-02-13   -0.371221
2022-02-20   -0.579260
2022-02-27   -0.175965
2022-03-06   -0.691214
2022-03-13    0.076018
2022-03-20   -0.214814
2022-03-27    0.404350
2022-04-03    0.439660
2022-04-10    0.364154
Freq: W-SUN, dtype: float64

In [23]:
ts.resample('M').first()

2022-01-31    1.867558
2022-02-28    0.156349
2022-03-31   -1.726283
2022-04-30    0.356366
Freq: M, dtype: float64

In [24]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2022-1-1", periods=60, freq="T"))
ts.head(20)

2022-01-01 00:00:00   -1.173123
2022-01-01 00:01:00    1.943621
2022-01-01 00:02:00   -0.413619
2022-01-01 00:03:00   -0.747455
2022-01-01 00:04:00    1.922942
2022-01-01 00:05:00    1.480515
2022-01-01 00:06:00    1.867559
2022-01-01 00:07:00    0.906045
2022-01-01 00:08:00   -0.861226
2022-01-01 00:09:00    1.910065
2022-01-01 00:10:00   -0.268003
2022-01-01 00:11:00    0.802456
2022-01-01 00:12:00    0.947252
2022-01-01 00:13:00   -0.155010
2022-01-01 00:14:00    0.614079
2022-01-01 00:15:00    0.922207
2022-01-01 00:16:00    0.376426
2022-01-01 00:17:00   -1.099401
2022-01-01 00:18:00    0.298238
2022-01-01 00:19:00    1.326386
Freq: T, dtype: float64

In [25]:
ts.resample('10T').sum()

2022-01-01 00:00:00    6.835324
2022-01-01 00:10:00    3.764630
2022-01-01 00:20:00    0.776495
2022-01-01 00:30:00   -0.538336
2022-01-01 00:40:00    1.828234
2022-01-01 00:50:00    0.167957
Freq: 10T, dtype: float64

In [26]:
# 왼쪽이 아니라 오른쪽 한계값을 구간에 포함하려면 closed="right" 인수를 사용한다. 이 때는 10의 배수가 되는 시각이 앞 구간에 포함된다.
ts.resample('10T', closed="right").sum()

2021-12-31 23:50:00   -1.173123
2022-01-01 00:00:00    7.740444
2022-01-01 00:10:00    3.338065
2022-01-01 00:20:00    0.835217
2022-01-01 00:30:00    2.480654
2022-01-01 00:40:00   -0.653363
2022-01-01 00:50:00    0.266409
Freq: 10T, dtype: float64

In [27]:
ts.resample('5T').ohlc()

                         open      high       low     close
2022-01-01 00:00:00 -1.173123  1.943621 -1.173123  1.922942
2022-01-01 00:05:00  1.480515  1.910065 -0.861226  1.910065
2022-01-01 00:10:00 -0.268003  0.947252 -0.268003  0.614079
2022-01-01 00:15:00  0.922207  1.326386 -1.099401  1.326386
2022-01-01 00:20:00 -0.694568  1.849264 -0.694568  0.672295
2022-01-01 00:25:00  0.407462  0.539249 -0.769916  0.031831
2022-01-01 00:30:00 -0.635846  0.676433 -0.635846  0.396007
2022-01-01 00:35:00 -1.093062  0.635031 -1.491258  0.635031
2022-01-01 00:40:00  2.383145  2.383145 -1.315907 -1.315907
2022-01-01 00:45:00 -0.461585  1.713343 -0.826439 -0.826439
2022-01-01 00:50:00 -0.098453  1.126636 -1.147469 -1.147469
2022-01-01 00:55:00 -0.437820  1.929532 -0.498032  0.087551

In [29]:
ts.resample('30s').ffill().head(20)    # 업샘플링

2022-01-01 00:00:00   -1.173123
2022-01-01 00:00:30   -1.173123
2022-01-01 00:01:00    1.943621
2022-01-01 00:01:30    1.943621
2022-01-01 00:02:00   -0.413619
2022-01-01 00:02:30   -0.413619
2022-01-01 00:03:00   -0.747455
2022-01-01 00:03:30   -0.747455
2022-01-01 00:04:00    1.922942
2022-01-01 00:04:30    1.922942
2022-01-01 00:05:00    1.480515
2022-01-01 00:05:30    1.480515
2022-01-01 00:06:00    1.867559
2022-01-01 00:06:30    1.867559
2022-01-01 00:07:00    0.906045
2022-01-01 00:07:30    0.906045
2022-01-01 00:08:00   -0.861226
2022-01-01 00:08:30   -0.861226
2022-01-01 00:09:00    1.910065
2022-01-01 00:09:30    1.910065
Freq: 30S, dtype: float64

In [30]:
ts.resample('30s').bfill().head(20)

2022-01-01 00:00:00   -1.173123
2022-01-01 00:00:30    1.943621
2022-01-01 00:01:00    1.943621
2022-01-01 00:01:30   -0.413619
2022-01-01 00:02:00   -0.413619
2022-01-01 00:02:30   -0.747455
2022-01-01 00:03:00   -0.747455
2022-01-01 00:03:30    1.922942
2022-01-01 00:04:00    1.922942
2022-01-01 00:04:30    1.480515
2022-01-01 00:05:00    1.480515
2022-01-01 00:05:30    1.867559
2022-01-01 00:06:00    1.867559
2022-01-01 00:06:30    0.906045
2022-01-01 00:07:00    0.906045
2022-01-01 00:07:30   -0.861226
2022-01-01 00:08:00   -0.861226
2022-01-01 00:08:30    1.910065
2022-01-01 00:09:00    1.910065
2022-01-01 00:09:30   -0.268003
Freq: 30S, dtype: float64

In [31]:
s = pd.Series(pd.date_range("2022-4-1", periods=100, freq="D"))
s

0    2022-04-01
1    2022-04-02
2    2022-04-03
3    2022-04-04
4    2022-04-05
        ...
95   2022-07-05
96   2022-07-06
97   2022-07-07
98   2022-07-08
99   2022-07-09
Length: 100, dtype: datetime64[ns]

In [33]:
s.dt.year

0     2022
1     2022
2     2022
3     2022
4     2022
      ...
95    2022
96    2022
97    2022
98    2022
99    2022
Length: 100, dtype: int64

In [34]:
s.dt.weekday

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64

In [35]:
s.dt.strftime("%Y년 %m월 %d일")

0     2022년 04월 01일
1     2022년 04월 02일
2     2022년 04월 03일
3     2022년 04월 04일
4     2022년 04월 05일
          ...
95    2022년 07월 05일
96    2022년 07월 06일
97    2022년 07월 07일
98    2022년 07월 08일
99    2022년 07월 09일
Length: 100, dtype: object

In [36]:
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="D"), 
    "value": np.random.randint(100, size=(100,))
})

In [37]:
df

         date  value
0  2020-12-25     44
1  2020-12-26     47
2  2020-12-27     64
3  2020-12-28     67
4  2020-12-29     67
..        ...    ...
95 2021-03-30     23
96 2021-03-31     79
97 2021-04-01     13
98 2021-04-02     85
99 2021-04-03     48

[100 rows x 2 columns]

In [39]:
df.groupby(df.date.dt.month).sum()

      value
date
1      1811
2       985
3      1500
4       146
12      381